<div class="modal fade" id="formulario" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear tipo origami</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <div class="row g-3">
            <div class="col-lg-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput"
                  formControlName="titulo" [disabled]="deshabilitarFormulario"
                  [class.is-invalid]="formulario.get('titulo')?.invalid && formulario.get('titulo')?.touched">
                <label for="floatingInput">Titulo</label>
                @if (formulario.get('titulo')?.invalid && formulario.get('titulo')?.touched) {
                  <div class="invalid-feedback">
                    El título es obligatorio.
                  </div>
                }
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-floating">
                <select class="form-select form-select-lg" id="estado"
                  formControlName="estado" [disabled]="deshabilitarFormulario"
                  [class.is-invalid]="formulario.get('estado')?.invalid && formulario.get('estado')?.touched">
                  <option value="PENDIENTE">Pendiente</option>
                  <option value="EN_PROGRESO">En progreso</option>
                  <option value="COMPLETADA">Completada</option>
                  <option value="CANCELADA">Cancelada</option>
                </select>
                <label for="estado">Estado</label>
                @if (formulario.get('estado')?.invalid && formulario.get('estado')?.touched) {
                  <div class="invalid-feedback">
                    El estado es obligatorio.
                  </div>
                }
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea"
                  formControlName="descripcion" [disabled]="deshabilitarFormulario"
                  placeholder="Ingresa tu descripción aquí"
                  [class.is-invalid]="formulario.get('descripcion')?.invalid && formulario.get('descripcion')?.touched">
                </textarea>
                <label for="floatingTextarea">Descripción</label>
                @if (formulario.get('descripcion')?.invalid && formulario.get('descripcion')?.touched) {
                  <div class="invalid-feedback">
                    La descripción es obligatoria.
                  </div>
                }
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrar()">Cancelar</button>
        <button type="button" class="btn btn-outline-primary" (click)="ejecutar()" [disabled]="deshabilitarFormulario">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
